body {
    color: #FFFFFF;

}

h1 {
    color: #D0B687;
    font-family: "Contrail One", sans-serif;
}

p {
    /*color: #000000;*/
    color: #33246C;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 500;
    font-size: 1.15em;
}

a {
    color: #33246C;
    font-family: "Inclusive Sans", sans-serif;
}