body {
    color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    color: #D0B687;
    font-family: "Contrail One", sans-serif;
}

p {
    /*color: #000000;*/
    color: #33246C;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 500;
    font-size: 1.15em;
}

a {
    color: #000000;
    font-family: "Inclusive Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.navBarContainer {
    position: fixed;
    overflow: hidden;
    top: 0;
    margin: -5px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navBarLinks {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFFFFF, #33246C);
    align-items: center;
}

.navBarLinks a {
    float: right;
    justify-content: center;
    color: #FFFFFF;
    background-color: #D0B687;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Contrail One", sans-serif;
    padding: 10px 20px;
    margin: 16.5px;
}

.navBarLinks a:hover {
    background-color: #D7C097;
}

.navBarContainer img {
    background-color: #FFFFFF;
    height: 75px;
    width: auto;
    display: block;
    margin: 0;
    margin-left: 10px;
}

#navBarLogo {
    background-color: #FFFFFF;
    border-radius: 0px;
}

.content {
    margin-top: 70px;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.section {
    margin: 50px 00px;
}

.footer {
    background-color: #33246C;
    color: #FFFFFF;
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
    bottom: 0;
}

.footer p {
    color: #FFFFFF;
    font-family: "Inclusive Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 5px;
}

.footer i {
    font-size: 30px; 
    color: #FFFFFF;
    margin: 0px 10px;
}

.footer i:hover {
    font-size: 30px; 
    color: #D0B687;
}

.copyright {
    display: block;
}

.copyrightMobile {
    display: none;
}

@media screen and (max-width: 700px) {
    .copyright {
        display: none;
    }

    .copyrightMobile {
        display: block;
    }
}

.headerImage {
    filter: grayscale(100%);
    width: 300px;
}

.header {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.header img {
    filter: grayscale(100%);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.overlay h1 {
    color: #33246C;
    font-family: "Contrail One", sans-serif;
    font-size: 100px;
}

.overlay p {
    color: #33246C;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 500;
    font-size: 1.15em;
}

.supportSection {
    background-color: #33246C;
}

.supportSection p {
    color: #FFFFFF;
}

.supportText {
    padding: 3%;
}

.sideBySide {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.sideBySide img {
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sideBySideElement {
    width: 50%;
    padding: 20px;
    height: auto;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1000px) {
    .sideBySide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .sideBySideElement {
        width: 100%;
        margin-left: -2%;
    }
  
    .sideBySideElement img {
        display: block;
        margin-right: auto;
    }
}
