body {
    color: #FFFFFF;

}

h1 {
    color: #D0B687;
    font-family: "Contrail One", sans-serif;
}

p {
    color: #000000;
    font-family: "Inclusive Sans", sans-serif;
}

a {
    color: #33246C;
    font-family: "Inclusive Sans", sans-serif;
}